<!-- begin footer -->
<footer class="footer">

  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="footer__inner">
          <div class="social">
            <ul class="social__list list-reset">

              <!-- Instagram -->
              <li class="social__item">
                <a class="social__link"
                   href="https://www.instagram.com/not_so_fineart"
                   target="_blank"
                   rel="noopener"
                   aria-label="Instagram">
                  <i class="ion ion-logo-instagram" style="color: #e4405f;"></i>
                  Art Instagram
                </a>
              </li>
   

              <!-- LinkedIn -->
              <li class="social__item">
                <a class="social__link"
                   href="https://www.linkedin.com/in/judy-sihyon-park-094681135/"
                   target="_blank"
                   rel="noopener"
                   aria-label="Linkedin">
                  <i class="ion ion-logo-linkedin" style="color: #0072b1;"></i>
                  LinkedIn
                </a>
              </li>

              <!-- GitHub -->
              <li class="social__item">
                <a class="social__link"
                   href="https://github.com/judypark"
                   target="_blank"
                   rel="noopener"
                   aria-label="Github">
                  <i class="ion ion-logo-github" style="color: #535e6b;"></i>
                  Github
                </a>
              </li>

              <!-- Email -->
              <li class="social__item">
                <a class="social__link"
                  href="mailto:judyp@andrew.cmu.edu"
                  target="_blank"
                  rel="noopener"
                  aria-label="ORCID">
                  
                  <!-- Custom image -->
                  <img src="/images/icon-email.png"
                        alt="icon-email"
                        class="social__icon-img">
                  Email: judyp@andrew.cmu.edu
                </a>
              </li>

            </ul>
          </div>
        </div>

        <div class="footer__info">
          <div class="copyright">
            {{ site.time | date: '%Y' }} &copy; Judy Sihyon Park. All rights reserved.
          </div>
        </div>

      </div>
    </div>
  </div>

</footer>
<!-- end footer -->
